.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.gap-1em {
  gap: 1em;
}

.w-full {
  width: 100vw;
}

.text-uppercase {
  text-transform: uppercase;
}
